{% extends 'base.html' %}
{% load static %}

{% block title %}
B3Alerta - Home
{% endblock title %}

{% block content %}
<section class="banners banner-1 d-flex flex-column justify-content-center text-center">
  <div class="banners-titulo bg-body-secondary py-5">
    <h2 class="fw-bold">Transformando Alertas em Oportunidades.</h2>
    <p>Boas-vindas ao B3Alerta! Seu assistente confiável para oportunidades na B3. Monitore, analise e aja com
      precisão.</p>
  </div>
</section>

<section class="py-5 container">
  <h2 class="fw-bold text-center pb-1">Meus ativos</h2>
  <div class="row mx-0">
    <!-- Renderização dos ativos -->
    {% for ativo in cards %}
    <div class="col-12 col-md-6 col-xxl-4 pb-4">
      <div class="card" data-id-ativo-card="{{ ativo.id }}">
        <a href="{% url 'detalhes_ativo' ativo.id %}">
          <div class="card-img-top d-flex flex-column align-items-center justify-content-center"
            style="background-color: #868e96; height: 180px;">
            <span class="text-white fw-bold">{{ ativo.codigo }}</span>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ ativo.get_setor_display }}</h5>
          <p class="card-text fw-bold">R$ {{ ativo.preco_atual }}</p>
          <!-- Campo para mostrar a última atualização -->
          <p class="card-text text-muted">Última atualização: {{ ativo.ultima_atualizacao|date:"d/m/Y H:i" }}</p>
          <a href="#" class="btn btn-primary" data-ativo-id="{{ativo.id}}" data-bs-toggle="modal"
            data-bs-target="#editAtivoModal" onclick="prepareEdit('{{ ativo.id }}')">Editar</a>
          <a href="#" class="btn btn-danger" data-ativo-id="{{ativo.id}}" data-ativo-nome="{{ativo.codigo}}"
            data-bs-toggle="modal" data-bs-target="#deleteModal"
            onclick="prepareDeletion('{{ ativo.id }}', '{{ ativo.codigo }}')">Excluir</a>
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Opção de adicionar ativo -->
    {% if user.is_authenticated %}
    <div class="col-12 col-md-6 col-xxl-4 pb-4">
      <div class="card">
        <div class="d-flex align-items-center justify-content-center" style="height:180px; background-color: #e9ecef;">
          <i class="bi bi-plus-circle-fill" style="font-size: 3rem; color: #868e96;"></i>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Adicionar Ativo</h5>
          <p class="card-text">Clique para adicionar um novo ativo à sua lista.</p>
          <p><i class="bi bi-arrow-down"></i></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAtivoModal">
            Adicionar
          </button>
        </div>
      </div>
    </div>
    {% else %}
    <p class="text-center">Por favor, <a href="{% url 'login' %}">faça login</a> para adicionar ativos.</p>
    {% endif %}
  </div>
</section>

<!-- Modal para Adicionar Ativo -->
<div class="modal fade" id="addAtivoModal" tabindex="-1" aria-labelledby="addAtivoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAtivoModalLabel">Adicionar Ativo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'novo_ativo' %}" id="addAtivoForm" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {{ form.as_p }} <!-- Isso renderiza cada campo do form como um parágrafo -->

          <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmação de exclusão -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza de que deseja excluir o ativo <strong id="ativoNameToDelete"></strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <form action="#" method="post" id="deleteForm">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Ativo -->
<div class="modal fade" id="editAtivoModal" tabindex="-1" aria-labelledby="editAtivoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAtivoModalLabel">Editar Ativo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#" id="editAtivoForm" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-3">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" class="form-control" id="codigo" name="codigo" readonly>
          </div>
          <div class="mb-3">
            <label for="limite_inferior" class="form-label">Limite Inferior</label>
            <input type="text" class="form-control" id="limite_inferior" name="limite_inferior">
          </div>
          <div class="mb-3">
            <label for="limite_superior" class="form-label">Limite Superior</label>
            <input type="text" class="form-control" id="limite_superior" name="limite_superior">
          </div>
          <div class="mb-3">
            <label for="periodicidade_checagem" class="form-label">Periodicidade de Checagem</label>
            <input type="text" class="form-control" id="periodicidade_checagem" name="periodicidade_checagem">
          </div>

          <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  function prepareDeletion(ativoId, ativoCodigo) {
    var form = document.getElementById('deleteForm');
    form.action = `{% url 'deletar_ativo' 0 %}`.replace('0', ativoId);

    // Atualiza o nome do ativo no modal
    var ativoNamePlaceholder = document.getElementById('ativoNameToDelete');
    ativoNamePlaceholder.textContent = ativoCodigo;
  }

  function prepareEdit(ativoId) {
    fetch(`/get_ativo_info/${ativoId}/`)
      .then(response => response.json())
      .then(data => {
        document.getElementById('codigo').value = data.codigo;
        document.getElementById('limite_inferior').value = data.limite_inferior;
        document.getElementById('limite_superior').value = data.limite_superior;
        document.getElementById('periodicidade_checagem').value = data.periodicidade_checagem;
      });

    var form = document.getElementById('editAtivoForm');
    form.action = `/editar_ativo/${ativoId}/`;
  }
  function fetchUpdatedAtivosData() {
    fetch('/api/updated_ativos/')
      .then(response => response.json())
      .then(data => {
        for (const [id, ativoData] of Object.entries(data)) {
          // Encontrar o elemento do ativo pelo ID
          const ativoElement = document.querySelector(`.card[data-id-ativo-card="${id}"]`);

          if (ativoElement) {
            // Atualizar o preço
            const priceElement = ativoElement.querySelector('.card-text.fw-bold');
            if (priceElement) {
              priceElement.textContent = `R$ ${ativoData.preco_atual}`;
            }

            // Atualizar a data da última atualização
            const dateElement = ativoElement.querySelector('.card-text.text-muted');
            if (dateElement) {
              dateElement.textContent = `${ativoData.ultima_atualizacao}`;
            }
          }
        }
      });
  }
  // Chame essa função a cada minuto
  setInterval(fetchUpdatedAtivosData, 10000);
</script>
{% endblock %}